@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==============*/
/*=====ROOT=====*/
/*==============*/
:root {
  --dark-blue: #1b2042;
  --light-blue: #7398e2;
  --white: #e6e9f8;
  --gradient: linear-gradient(to top right, #1b2042, #20254e52);
  --gray: rgb(178, 175, 175);

  --bold: 600;
  --light-bold: 500;
}
/*=============*/
/*=====All=====*/
/*=============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial,
    sans-serif;
  min-height: 100px;
}

a {
  text-decoration: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: var(--bold);
  color: var(--dark-blue);
}
p {
  color: #35364f;
}

ul {
  list-style: none;
}
/*====================*/
/*=====Utilities======*/
/*====================*/
.grid {
  display: grid;
  grid-gap: 1.5rem;
}
.container {
  width: 90%;
  margin: auto;
}
section {
  padding: 60px 0;
}
.flex {
  display: flex;
}
.btn {
  padding: 8px 6px;
  background-color: var(--light-blue);
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 8px;
  transition: 0.5s;
  font-size: 0.8em;
}
.nav-item:hover.nav-item a {
  color: var(--light-blue);
}

.btn:hover,
.btn:hover a {
  color: var(--light-blue);
  background-color: white;
  letter-spacing: 1px;
}
/*=================*/
/*=====banner======*/
/*=================*/
.banner {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  background: url(./headerblurlow.png);
  background-color: var(--dark-blue);
  background-size: cover;
}
.banner .header-content {
  max-width: 900px;
}
.banner .header-content h1 {
  font-size: 1.8em;
  color: white;
}
.banner .header-content p {
  font-size: 1.1em;
  margin-top: 10px;
  color: white;
}
/*=================*/
/*=====Header======*/
/*=================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
}
header img {
  width: 50px;
}
header .logo {
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  color: white;
}
header .logo span {
  color: var(--light-blue);
}
.header span {
  color: var(--light-bold);
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
header.sticky {
  background-color: white;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header.sticky .logo {
  color: #101224;
}
header.sticky .logo span {
  color: #4b56a3;
}
header.sticky .navigation li a {
  color: #000000;
}
header.sticky .navigation li a:hover {
  color: #4b56a3;
}
header .navigation li a:hover {
  color: var(--light-blue);
}
/*=================*/
/*====Servicii=====*/
/*=================*/
.title {
  text-align: center;
  max-width: 50%;
  margin: auto;
}
.services {
  background-color: var(--white);
  width: 100%;
}

.servicii-box {
  margin-top: 60px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.servicii {
  background-color: white;
  padding: 2rem 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);
  border-radius: 5px;
}
.servicii:hover {
  background: var(--gradient);
}
.servicii:hover.servicii p,
.servicii:hover.servicii h1,
.servicii:hover.servicii .fa-book,
.servicii:hover.servicii .fa-file-lines,
.servicii:hover.servicii .fa-box-archive,
.servicii:hover.servicii .fa-image {
  color: white;
}
.servicii .fa-book {
  font-size: 30px;
  color: var(--light-blue);
  margin-bottom: 10px;
}
.servicii .fa-file-lines {
  font-size: 30px;
  color: var(--light-blue);
  margin-bottom: 10px;
}
.servicii .fa-box-archive {
  font-size: 30px;
  color: var(--light-blue);
  margin-bottom: 10px;
}
.servicii .fa-image {
  font-size: 30px;
  color: var(--light-blue);
  margin-bottom: 10px;
}
.servicii h1 {
  margin-bottom: 15px;
}
/*=================*/
/*====Aboutus======*/
/*=================*/

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.titletxt {
  color: var(--dark-blue);
  font-size: 2em;
  font-weight: 300;
  margin-top: 20px;
}
.titletxt span {
  font-weight: 700;
  font-size: 1.5em;
  color: var(--light-blue);
}
.row p {
  margin-left: 10px;
}
.row .col50 .imgAUS {
  position: relative;
  width: 100%;
  height: 100%;
}
.row .col50 .imgAUS img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.read-more-container {
  display: flex;
  flex-direction: column;
  color: #111;
  gap: 1rem;
}

.read-more-btn {
  color: #0984e3;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}
.despre p {
  padding-top: 10px;
}
.read-more-text li {
  padding-left: 20px;
}
.read-more-text .ul2 {
  padding-left: 20px;
}
/*=================*/
/*=====Contac======*/
/*=================*/
.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(image/contact-bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}
.line div {
  margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  border-radius: 5px;
}
.line {
  display: flex;
  align-items: center;
}
.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.text {
  font-weight: 300;
  opacity: 0.9;
}
.contact-bg .text {
  margin: 1.6rem 0;
}
.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}
.contact-info span {
  display: block;
}
.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}
.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: var(--light-blue);
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}
.contact-form {
  padding: 2rem 0;
  border-top: 1px solid #c7c7c7;
}
.contact-form form {
  padding-bottom: 1rem;
}
.form-control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  outline: 0;
}
.form-control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}
.contact-form form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
}
.send-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: var(--light-blue);
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.send-btn:hover {
  opacity: 0.8;
}
.contact-form > div img {
  width: 85%;
}
.contact-form > div {
  margin: 0 auto;
  text-align: center;
}

/*=================*/
/*=====mobile======*/
/*=================*/
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header.active {
    background-color: rgb(255, 255, 255);
  }
  header.active .logo {
    color: #101224;
  }
  header.active .logo span {
    color: #4b56a3;
  }
  .container {
    width: 95%;
  }
  .row {
    flex-direction: column;
  }
  .row .col50 {
    position: relative;
    width: 100%;
  }
  .row .col50 .imgAUS {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--dark-blue);
  }
  header .navigation li {
    font-size: 1.6em;
  }
  header.sticky .navigation li a {
    color: #ffffff;
  }
  header.sticky .navigation li a:hover {
    color: var(--light-blue);
  }

  .hamburger {
    margin-top: 15px;
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    filter: invert(1);
  }
  header.sticky .hamburger {
    filter: invert(0);
  }
  header.active .hamburger {
    filter: invert(0);
  }
  .hamburger.active {
    background: url(/img/close.png);
    background-size: 30px;
    background-repeat: no-repeat;
  }
}
/*=================*/
/*=====Footer======*/
/*=================*/
footer {
  background: #1b2042;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-text p {
  color: rgb(255, 255, 255) 1px;
  padding: 3px;
}

.footer-bottom {
  border-top: solid rgb(133, 132, 132) 1px;
  width: 100%;
  padding: 7px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: rgb(154, 150, 150);
}

@media screen and (min-width: 768px) {
  .contact-bg .text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg .text {
    width: 50%;
  }
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}
